
body {
    
    height: 800px;
    /* background: linear-gradient(#ffc18a, #fe7171); */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #caafd9 0%, #fa868659 100%);
    

    /* background: rgb(255,193,138);
    background: linear-gradient(0deg, rgba(255,193,138,1) FFBC 80%, rgba(254,113,113,1) 100%); */
}
nav{
    background-color: #c0bfbf;
    padding: 5rem;
    
}
.navbar{
    padding-bottom: 0px;
    padding-top: 0px;
}
.titleSpan{
    color: #F76E11;
}